/*
Tutorial Name: Off Canvas Sliding Navigation
Author: Samuel Dalusung
*/


/* GENERAL STYLES
-------------------------------------------------*/

html,
body {
	background: url("https://cdn.jsdelivr.net/gh/ifwlzs/jh/img/light-veneer.png")repeat;
	cursor:url("https://cdn.jsdelivr.net/gh/ifwlzs/jh/img/1.cur"),auto;
}
html {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=1); /* IE6 ~ 9 */
}
h1,
h2,
h3 {
	text-align: center;
}

h1 {
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 700;
	font-size: 45px;
	margin-top: 15px;
	color: #38935f;
}

h3 {
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 400;
	font-size: 25px;
	margin-top: 15px;
	color: #918e84;
}


/* CONTAINERS
-------------------------------------------------*/

#container {
	width: 100%;
	position: relative;
	overflow-x:hidden;
	overflow-y: auto;
	display: table;
}

#canvas {
	width: 100%;
	height: 100%;
	padding: 2% 0;
	position: relative;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: .5s ease all;
	-moz-transition: .5s ease all;
	-o-transition: .5s ease all;
	transition: .5s ease all;

}

#nav {
	width: 300px;
	height: auto;
	background:/*#2A393C;#FE8B9D;*/#49C9BC;
	position: absolute;
	left: -300px;
	top: 0;
	-webkit-transition: .5s ease all;
	-moz-transition: .5s ease all;
	-o-transition: .5s ease all;
	transition: .5s ease all;
	/* By default, rotate the menu 90deg inwards */
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	body.position: fixed;
}

#container.display-nav #canvas {
	-webkit-transform: translateX(300px);
	-moz-transform: translateX(300px);
	-ms-transform: translateX(300px);
	-o-transform: translateX(300px);
	transform: translateX(300px);
}


/* transition the menu with perspective on "show-nav" */

#container.display-nav #nav {
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: perspective(600px) rotateY(0deg);
	-moz-transform: perspective(600px) rotateY(0deg);
	-ms-transform: perspective(600px) rotateY(0deg);
	-o-transform: perspective(600px) rotateY(0deg);
	transform: perspective(600px) rotateY(0deg);
}


/* UTILITIES
-------------------------------------------------*/

#bars {
	font-size: 36px;
	margin-left: 49px;
	margin-top: 30px;
	color: #49C9BC;
	display: block;
}

#bars:hover {
	color: #39cccc;
}

#title {
	margin: 20px auto;
	padding: 10px;
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	font-weight: 300;
	font-size: 2em;
	font-family: 'Raleway', Arial;
}

.border {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

a.back {
	color: #38935f;
	width: 200px;
	text-decoration: none;
	text-align: center;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 600;
	display: block;
	margin: 50px auto 0 auto;
	border: 2px solid #38935f;
	padding: 10px;
}

a.back:hover {
	color: #48b978;
	border: 2px solid #48b978;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
}


/* TOGGLE NAV
-------------------------------------------------*/

#toggle {
	list-style: none;
	margin-top: 0px;
}

#toggle div:hover {
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
	color: #fff;
}

#toggle div.active {
	background: #66CCFF;
	color: #000000;
}

#toggle div {
	cursor: pointer;
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

span.menu-icons {
	font-size: 20px;
	height: 20px;
	width: 22px;
	float: left;
	margin: 11px 0px 10px 37px;
	color: #fff;
}

span.the-btn {
	float: right;
	font-size: 20px;
	height: 30px;
	width: 43px;
	margin-top: 10px;
	margin-right: 8px;
	padding: 0px;
	color: #fff;
	
}

#toggle ul {
	list-style: disc;
	display: none;
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

#toggle li a {
	line-height: 41px;
	color: #fff;
	list-style: circle;
	width: 240px;
	padding: 0;
	margin: 0 0 0 50px;
}

#toggle a {
	margin: 0 0 0 47px;
	padding: 0;
	font-family: 'Lato';
	color: #fff;
	line-height: 41px;
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
}

#toggle ul li {
	margin-left: 109px;
	list-style: none;
	border-bottom: 1px solid #66ccff;
	border-right: 4px solid #66ccff;
}

#toggle ul li a:hover {
	background: #66ccff;
	color: #000;
}

#toggle ul li a {
	margin-left: 0;
}


/*----my style----*/

.main {
	letter-spacing: 3px;
	line-height: 25px;
	width: 90%;
	height: auto;
	color: #000;
	font-family: "黑体""宋体";
	background: -moz-linear-gradient(top, #00FFC5 0%, #00FFFB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00FFC5), color-stop(100%, #00FFFB));
	background: -webkit-linear-gradient(top, #00FFC5 0%, #00FFFB 100%);
	background: -o-linear-gradient(top, #00FFC5 0%, #00FFFB 100%);
	background: -ms-linear-gradient(top, #00FFC5 0%, #00FFFB 100%);
	background: linear-gradient(to bottom, #00FFC5 0%, #00FFFB 100%);
	/**/
	margin: 5% auto auto auto;
	/*display: table;*/
	border-radius:20px;
}

.red {
	color: red;
	font-weight: bold;
}

.bgyfr {
	background-color: rgba(255, 255, 0, 0.7);
	color: red;
	font-weight: bold;
	text-indent: 0em;
}

.bgy {
	background-color: rgba(255, 255, 0, 0.7);
}

.mytitle {
	font-size: 2em;
	width: 100%;
	color: #000;
	vertical-align: middle;
	margin: 0 auto;
	background-color: rgba(244,244,244,.5);/*#96ce54;*/
	text-align: center;
	line-height: 1.2em;
	text-indent: 0px;
	border-radius: 60px;
}

.main ol {
	text-indent: 0em;
	padding-left: 3em;
	list-style-type: upper-roman;
}

@media(max-width:750px) {
	.mytitle {
		font-size: 1.5em;
	}
}

#no
{
	padding-bottom: 5%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
/*！！！！！！链接！！！！！！！*/

.panel-heading:after,
.row:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0
}

html,
body {
	height: 100%
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}


.panel-body {
	padding: 10px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #e1e6e7;
}

.links dd a,
{
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

@-moz-document url-prefix() {
	.bdsharebuttonbox.bdshare-button-style0-24 {
		width: 270px !important;
	}
}

.links dd>a:first-child {
	display: block;
	padding: 15px 15px 13px;
	min-height: 81px;
	max-height: 81px;
	overflow: hidden;
	border-radius: 5px;
}

.links dd a>i img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin: 0 5px 0 0
}


.links dd a:hover {
	background: #edf5fa
}

.link-logo {
	display: none;
	float: left;
	margin: 0 5px 10px 0
}

.link-title {
	position: relative;
	top: -2px;
	padding-bottom: 2px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden
}

.link-title,
.link-info {
	display: block
}

.link-info {
	font-size: 12px;
	color: #a2a8a2;
	line-height: 1.5em
}

.links dd .sub-link {
	position: absolute;
	top: 40px;
	left: 25px;
	font-size: 12px;
	color: #ccc;
	line-height: 1.5em
}

.links dd .sub-link a {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	padding-bottom: 2px;
	border-bottom-style: dotted;
	border-color: inherit
}

.links dd .sub-link a:hover {
	background: 0;
	color: #0065a9
}

.links .article-list dd a {
	padding: 15px 0
}

.links .article-list dd a:hover {
	background: 0
}

.links .article-list .link-title {
	padding: 0 0 0 15px;
	line-height: 1.5em;
	font-size: 14px;
	color: #666;
	white-space: normal
}

.row {
	margin-left: -10px;
	margin-right: -10px
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-sm-3,
.col-xs-4
